html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}



body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  #canvas-container {
    margin: 0;
    padding: 0;
  }

  #start-buttons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  #canvas-frame {
    border: 8px solid black;
  }

  canvas {
    height: 100vh;
    background-color: whitesmoke;
  }

  .button {
    padding: 14px;
    margin: 0 7px;

    border-radius: 50px;
    border: 2px solid whitesmoke;
    background-color:grey;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    text-size-adjust: inherit;
    text-align: center;
  }

  #warning {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .side-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }

  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }

  .button-container {
    width: 46%;
    position: relative;
  }

  .button-size {
    padding-top: 50%;
  }

  .controller {
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
    user-select: none;          /* Standard syntax */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid whitesmoke;
    background-color:grey;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    text-size-adjust: inherit;
    text-align: center;
  } 

  .hide {
    display: none!important;
  }