body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
  }
  #canvasContainer {
    margin: 0;
    padding: 0;
    border: 8px solid black;
  }
  #start-buttons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  canvas {
    height: 100vh;
  }

  .hide {
      display: none;
  }

  .button {
    padding: 14px;
    margin: 0 7px;
    user-select: none;
  }

  .controller {
    padding: 14px 32px;
  }
